*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    height: 770px;
    background: url("./images/12_01.jpg")no-repeat center center/ cover;
}
header .container{
    width: 100%;
    background: repeat;
    padding-top: 45px ;
}
header .container nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}
header .container nav .active{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}
header .container nav ul{
    display: flex;
    
}
header .container nav ul li{
    margin-left: 35px;
}
header .container nav ul li a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
header .wrapper{
    text-align: center;
    margin-top: 323px;
}
header .wrapper h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    text-transform:uppercase;
    margin-bottom: 35px;
}
header .wrapper p{
    color:#ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 53px;
}
header .wrapper button{
    color: #e0d6d5;
    border: 1px solid #ffffff ;
    background: repeat;
    text-transform:uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 44px 17px 44px;
    transition: 500ms;
}
.wrapper button:hover{
    background: #ffffff;
    color: #c0301c;
}
main .container .aftebefo .servis{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
main .container .aftebefo .servis a {
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    margin-top: 100px;
    margin-bottom: 30px;
}
main .container .aftebefo .servis a::after{
    content: "";
    display: block;
    width: 51px;
    height: 2px;
    background: #555555;
    margin: auto;
    margin-top: 30px;
    }
    main .container .aftebefo .rus p{
        font-size: 20px;
        font-weight: 400;
        color: #555555;
        text-align: center;
        margin-bottom: 75px;
        }
      
     main .container .code {
         display: flex;
         justify-content: space-evenly;
          }   
          main .container .code .box {
           text-align: center;
           line-height: 24px;
            
          }
          main .container .code .box .picture{
              margin-bottom: 32px;
          }
          main .container .code .box a p{
              margin-bottom: 25px;
              color: #555555;
              font-size: 14px;
              font-weight: 400;
          }
          main .container .code .box p{
              color: #555555;
              font-size: 14px;
              font-weight: 400;
              
          }
          main .container .about__top .about{
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }
        main .container .about__top .about a {
            font-size: 20px;
            font-weight: 400;
            color: #555555;
            margin-top: 200px;
            margin-bottom: 30px;
        }
        main .container .about__top .about a::after{
            content: "";
            display: block;
            width: 51px;
            height: 2px;
            background: #555555;
            margin: auto;
            margin-top: 30px;
            }
            main .container .about__top .eng p{
                font-size: 20px;
                font-weight: 400;
                color: #555555;
                text-align: center;
                margin-bottom: 70px;
                
                }
                main .container .text{
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 70px;
                }
                main .container .text .box__as{
                    width: 555px;color: #7f7f7f;
                    height: 110px;font-weight: 400;
                    line-height: 27px ;font-size: 15px;
                    
                    
                  }
             main .container .text .box {
            width: 555px;
            height: 110px;
            line-height: 27px;
            color: #555555;
            font-weight: 400;
            font-size: 15px;
          }  
          .ulli ul{
              display: flex;
              justify-content: center;
              
          }
          .ulli ul li{
              padding-left:27px ;
              margin-bottom: 70px;
              }
              .ulli ul li a{
                  color: #555555;
                  font-size: 16px;
                  font-weight: 400;
              }
              .ulli ul li a.active{
                  color: #c0301c;
              }
           .content .people{
              display: flex;
              justify-content: space-between
             }  
             .people .top__box ul{
               width: 115px;
               display: flex;
               justify-content: space-around;
             }
             .people .top__box ul li a{
                 padding: 6px 10px ;
                 width: 28px;
                 height: 28px;
                 transition: 500ms;
             } 
             .top__box ul li a:hover{
                 background: #c0301c;
             }
             .people .right__box ul{
                width: 115px;
                display: flex;
                justify-content: space-around;
              }
              .people .right__box ul li a{
                  padding: 6px 10px ;
                  width: 28px;
                  height: 28px;
                  transition: 500ms;
              } 
              .right__box ul li a:hover{
                  background: #c0301c;
              }
              .people .left__box ul{
                width: 115px;
                display: flex;
                justify-content: space-around;
              }
              .people .left__box ul li a{
                  padding: 6px 10px ;
                  width: 28px;
                  height: 28px;
                  transition: 500ms;
              } 
              .left__box ul li a:hover{
                  background: #c0301c;
              }
              .people .bootom__box ul{
                width: 115px;
                display: flex;
                justify-content: space-around;
              }
              .people .bootom__box ul li a{
                  padding: 6px 10px ;
                  width: 28px;
                  height: 28px;
                  transition: 500ms;
              } 
              .bootom__box ul li a:hover{
                  background: #c0301c;
              }
              .people .box__top{
                width: 263px;
                height: 250px;
                overflow: hidden;
                background: url("./images/picture1_03_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
                
            }
             .people .box__top .top__box{
                width: 100%;
                height: 100%;
                background: #5555555d;
                transform:  scale(0);
                transition: 500ms;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           
             .people .box__top:hover .top__box{
                transform: scale(1);
            } 
            

            .people .box__right{
                width: 263px;
                height: 250px;
                overflow: hidden;
                background: url("./images/12_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
                
            }
             .people .box__right .right__box{
                width: 100%;
                height: 100%;
                background: #5555555d;
                transform:  scale(0);
                transition: 500ms;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           
             .people .box__right:hover .right__box{
                transform: scale(1);
            } 
            .people .box__left{
                width: 263px;
                height: 250px;
                overflow: hidden;
                background: url("./images/images/picture2_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
                
            }
             .people .box__left .left__box{
                width: 100%;
                height: 100%;
                background: #5555555d;
                transform:  scale(0);
                transition: 500ms;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           
             .people .box__left:hover .left__box{
                transform: scale(1);
            } 
            .people .box__bootom{
                width: 263px;
                height: 250px;
                overflow: hidden;
                background: url("./images/picture3_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
                
            }
             .people .box__bootom .bootom__box{
                width: 100%;
                height: 100%;
                background: #5555555d;
                transform:  scale(0);
                transition: 500ms;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           
             .people .box__bootom:hover .bootom__box{
                transform: scale(1);
            } 
            .people p{
                color: #555555;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 15px;
            }
            .people span{
                color: #555555;
                font-size: 13px;
                font-weight: 400;
                margin: auto;
                display: flex;
                justify-content: center;
            }
             .content .people a {
                color: #ffffff;
                  
             }
             .content .people  ul {
                display: flex;
                align-items: center;
                margin-top: 120px;
             }

            .picture__one{
               display: flex;
               justify-content: space-between;
            }
            .picture__one  h4{
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
               }
               .picture__one span{
                font-size: 12px;
                font-weight: 400;
                color: #ffffff;
                margin: 18px 0 28px;
               }
               .picture__one a{
                   font-size: 14px;
                   font-weight: 400;
                   color: #c0301c;
                   background: #ffffff;
                   width:100px ;
                   height: 40px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   text-transform: uppercase;
                    }
                    .picture__one a i{
                        font-size: 14px;
                        margin-left: 8px;
                        display: flex;
                        align-items: center;
                    }
            .picture__one .wrapper{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/fen.png") no-repeat center center / cover;
                margin-bottom: 30px;
                
            }
             .picture__one .wrapper .wrap{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(2000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           
             .picture__one .wrapper:hover .wrap{
                transform: rotate(360deg) translateX(0);
            } 
            .picture__one .bird{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/bird_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
            }
             .picture__one .bird .bir{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(2000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__one .bird:hover .bir{
                transform: rotate(360deg) translateX(0);
            }
            .picture__one .pencil{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/work_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
            }
             .picture__one .pencil .pen{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(2000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__one .pencil:hover .pen{
                transform: rotate(360deg) translateX(0);
            }
            .picture__two{
             display: flex;
             justify-content: space-between;
            } 
             .picture__two  h4{
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
               }
               .picture__two span{
                font-size: 12px;
                font-weight: 400;
                color: #ffffff;
                margin: 18px 0 28px;
               }
               .picture__two a{
                   font-size: 14px;
                   font-weight: 400;
                   color: #c0301c;
                   background: #ffffff;
                   width:100px ;
                   height: 40px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   text-transform: uppercase;
                    }
                    .picture__two a i{
                        font-size: 14px;
                        margin-left: 8px;
                        display: flex;
                        align-items: center;
                    }
            .picture__two .kamera{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/kamera_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
               
            }
             .picture__two .kamera .kam{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(3000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__two .kamera:hover .kam{
                transform: rotate(360deg) translateX(0);
            }
            .picture__two .velosiped{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/velosiped_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
            }
             .picture__two .velosiped .velo{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(3000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__two .velosiped:hover .velo{
                transform: rotate(360deg) translateX(0);
            }
            .picture__two .bloknot{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/bloknot_03.png") no-repeat center center / cover;
                margin-bottom: 30px;
            }
             .picture__two .bloknot .notblock{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(3000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__two .bloknot:hover .notblock{
                transform: rotate(360deg) translateX(0);
            }
            .picture__three{
                display: flex;
                justify-content: space-between;
            }
            .picture__three  h4{
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
               }
               .picture__three span{
                font-size: 12px;
                font-weight: 400;
                color: #ffffff;
                margin: 18px 0 28px;
               }
               .picture__three a{
                   font-size: 14px;
                   font-weight: 400;
                   color: #c0301c;
                   background: #ffffff;
                   width:100px ;
                   height: 40px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   text-transform: uppercase;
                    }
                    .picture__three a i{
                        font-size: 14px;
                        margin-left: 8px;
                        display: flex;
                        align-items: center;
                    }
            .picture__three .notebook{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/ochki_07.png") no-repeat center center / cover;
                margin-bottom: 100px;
            }
             .picture__three .notebook .book{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(3000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__three .notebook:hover .book{
                transform: rotate(360deg) translateX(0);
            }
            .picture__three .lineyka{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/lineyka_03.png") no-repeat center center / cover;
                margin-bottom: 100px;
            }
             .picture__three .lineyka .line{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(3000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__three .lineyka:hover .line{
                transform: rotate(360deg) translateX(0);
            }
            .picture__three .evantes{
                width: 360px;
                height: 320px;
                overflow: hidden;
                background: url("./images/images/evan.png.png") no-repeat center center / cover;
                margin-bottom: 100px;
            }
             .picture__three .evantes .tea{
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.644);
                transform:  rotate(180deg) translateX(3000px);
                transition: 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .picture__three .evantes:hover .tea{
                transform: rotate(360deg) translateX(0);
            }
            .background {
                width: 100%;
                height: 370px;
                background: url("./images/images/background_02.png") no-repeat center center / cover;
                text-align: center;
            }
            .background h3{
                font-size: 30px;
                font-weight: 400;
                color: #ffffff;
               
         }
         .background .second{
            padding: 100px 0 20px 0; 
         }
         .background .second h3{
            font-size: 30px;
            font-weight: 400;
            color: #ffffff;
           
     }

          
            .background  button{
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
                border: 2px solid #ffffff;
                background: repeat;
                text-transform: uppercase;
                padding: 16px 25px;
                margin-top: 23px;
                
             }
             button:hover{
                 background: #ffffff;
                 color: #c0301c;
                 transition: 1s;
                 cursor: hand;
             }
             main .kazak .post{
                display: flex;
                justify-content: center;
                align-items: center;
                
                
            }
            main .kazak .post a h3{
                font-size: 20px;
                font-weight: 400;
                color: #555555;
                margin-top: 95px;
                margin-bottom: 30px;
            }
            main .kazak .post a::after{
                content: "";
                display: block;
                width: 51px;
                height: 2px;
                background: #555555;
                margin: auto;
                margin-top: 30px;
                }
                main .kazak .cum p{
                    font-size: 20px;
                    font-weight: 400;
                    color: #555555;
                    text-align: center;
                    margin-top: 30px; 
                    margin-bottom: 140px;
                    }
    main .ideas__top{
        width: 100%;
        height: 322px;
        display: flex;
        margin-bottom: 77px;
    }
    
    main .ideas__top .ideas__stu{
      width: 100%;
      height: 260px;
    }
    main .ideas__top .ideas__stu .number{
        display: flex;
        margin-left: 40px;
    }
    main .ideas__top .ideas__stu .number .date p{
        width: 76px;
        height: 76px;
        border: 2px solid #555555;
        color: #777777;
        font-size: 24px;
        font-weight: 700;
       text-align: center;
       padding: 15px 0 0 0;
    }
    main .ideas__top .ideas__stu .number .date span{
        font-size: 14px;
        text-transform: uppercase;
    }
    main .ideas__top .ideas__stu .number .active{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    }
    main .ideas__top .ideas__stu .number .active a h4{
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #c0301c;
        margin-bottom: 20px;
    }
   
    main .ideas__top .ideas__stu .number .active p{
        font-size: 13px;
        font-weight: 400;
        color: #777777;
    }
    main .ideas__top .ideas__stu .number .active p span{
        color: #c0301c;
    }
    main .ideas__top .ideas__stu .text{
        margin-left: 40px; 
        width: 640px;
        height: 110px;
    }
    main .ideas__top .ideas__stu .text p{
        padding: 23px 0 35px;
        font-size: 14px;
        font-weight: 400;
        color: #555555;
        line-height: 23px;
    }
    main .ideas__top .ideas__stu .text a{
        font-size: 13px;
        font-weight: 400;
        color: #c0301c;
        text-transform: uppercase;
    }
    main .ideas__top .ideas__stu .number .notactive{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    }
    main .ideas__top .ideas__stu .number .notactive a h4{
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #555555;
        margin-bottom: 20px;
    }
   
    main .ideas__top .ideas__stu .number .notactive p{
        font-size: 13px;
        font-weight: 400;
        color: #777777;
    }
    main .ideas__top .text a.active{
        color: #777777;
        font-weight: 700;
    }
    main .section__texts{
        width: 100%;
        margin-top: 123px;
    }
    main .section__texts .section__img{
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       margin-bottom: 70px;
        }
        main .section__texts .text {
            width: 100%;
            height: 110px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    main .section__texts .text .active p {
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    line-height: 30px;
    }
    main .section__texts .text span{
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    margin-top: 40px;
    text-transform: capitalize;
    margin-bottom: 40px;
    }
   main .rounf{
       display: flex;
       justify-content: center;
       width: auto;
       height: auto;
   }
   main .rounf .box{
       border: 13px solid #dddddd;
       border-radius: 50%;
       margin: 0 10px;
       transition: 500ms;
   }
   main .rounf a .box:hover{
       border-color: #c0301c;
   }
   main  .aftebefo .bbc a{
       text-align: center;
   }
   main  .aftebefo .bbc a h3{
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    margin-top: 200px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
main  .aftebefo .bbc a::after{
    content: "";
    display: block;
    width: 51px;
    height: 2px;
    background: #555555;
    margin: auto;
    margin-top: 30px;
    }
    main  .aftebefo .eng p{
        font-size: 20px;
        font-weight: 400;
        color: #555555;
        text-align: center;
        margin-bottom: 75px;
        margin-top: 30px;
        }
        main .file{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-around;
            margin-bottom: 100px;
        }
        main .file .about{
            width: 250px;
            height: 270px;
        }
        main .file .about .address .icons{
            display: flex;
        }
        main .file .about .address .icons h5{
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: #555555;
          margin-left: 15px;
          margin-bottom: 21px;
        }
        main .file .about .address .icons i{
            width: 12px;
            height: 17px;
            color: #555555;
        }  
        main .file .about .address p{
            font-size: 12px;
            font-weight: 400;
            color: #555555;
            margin-left: 27px;
            line-height: 20px;
        }     
                   
        main .file .about .hotline .icons{
            display: flex;
            margin-top: 39px;
        }
        main .file .about .hotline .icons h5{
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: #555555;
          margin-left: 15px;
          margin-bottom: 21px;
        }
        main .file .about .hotline .icons i{
            width: 12px;
            height: 17px;
            color: #555555;
        }  
        main .file .about .hotline a{
            font-size: 12px;
            font-weight: 400;
            color: #555555;
            margin-left: 27px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
        }     
    
        main .file .about .e-mail .icons{
            display: flex;
            margin-top: 39px;
        }
        main .file .about .e-mail .icons h5{
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: #555555;
          margin-left: 15px;
          margin-bottom: 21px;
        }
        main .file .about .e-mail .icons i{
            width: 12px;
            height: 17px;
            color: #555555;
        }  
        main .file .about .e-mail a{
            font-size: 12px;
            font-weight: 400;
            color: #555555;
            margin-left: 27px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
        }
        main .file .coment{
            width: 730px;
            height: 300px;
        }
        main .file .coment .coment__1{
            display: flex;
            margin-bottom: 23px;
           
        }
        main .file .coment .coment__1 input#put  {
            margin-right: 30px;
        }
        main .file .coment .coment__1 input{
            width: 350px;
            height: 44px;
        }
        main .file .coment .coment__2{
            display: flex;
            margin-bottom: 23px;
        }
        main .file .coment .coment__2 input{
            width: 350px;
            height: 44px;
        }
        main .file .coment .coment__2 input#put  {
            margin-right: 30px;
        }
        main .file .coment textarea{
            width: 730px;
            height: 104px;
        }
        main .file .coment .bp{
         display: flex;
        }
        main .file .coment .bp button{
            border: 1px solid #555555;
            color: #606060;
            padding: 17px 35px;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 21px;
        }
        main .file .coment .bp p{
            font-size: 12px;
            font-weight: 400;
            color: #606060;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-left: 10px;
        }
        main .file .coment .bp p span{
            color: #c43d2a;
        }
        footer{
            width: 100%;
            background: #c0301c;
        }
        footer .icon{
           display: flex;
           justify-content: center;
           align-items: center;
           padding-top: 100px;
        }
        footer .icon a {
            width:50px;
            display: flex;
            justify-content: space-around;
            }
            
            footer .icon a i{
            width: 35px;
            height: 35px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            display: flex;
            color: #ffffff;
            align-items: center;
            justify-content: center;
        }
        footer p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            color: #efcbc6;
            margin-top: 60px;
            padding-bottom: 100px;
        }
@media(min-width:576px) and (max-width:768px){
   .d-small{
       display: none;
   }
   .container nav .active{
    margin-left: 30px;
   }
   header .container nav{
    width: 0;
    min-width:576px ;
    max-width:768px ;
}
   header .wrapper{
       margin-top: 40% ;
   }
   main .code{
       flex-wrap: wrap;
   }
   .about__top .text{
    flex-wrap: wrap; 
   }
   .about__top .text .box__as{
       margin-bottom: 60px;
   }
   .content .people{
       flex-wrap: wrap;
   }
   .content .people .top span{
       margin-bottom: 20px;
   }
   .content .people .right span{
    margin-bottom: 20px;
}
   .picture__one{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .picture__two{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .picture__three{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

@media(min-width:768px) and (max-width:992px){
    
    .content .people{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .about__top .text{
        flex-wrap: wrap; 
       }
       .container nav a.active{
        margin-left: 20px;
    }
       .about__top .text .box__as{
        margin-bottom: 60px;
    }
    .content .people .top span{
        margin-bottom: 20px;
    }
    .content .people .right span{
     margin-bottom: 20px;
 }
 header .container nav ul li{
    margin-left: 0 ;
    margin: 0 15px;
}
 .picture__one{
    flex-wrap: wrap;
    justify-content: space-evenly;
   }
   .picture__two{
    flex-wrap: wrap;
    justify-content: space-evenly;
   }
   .picture__three{
    flex-wrap: wrap;
    justify-content: space-evenly;
   }header .container nav{
    min-width: 768px;
     max-width: 992px;
     width: 0;
 }
}
@media(min-width:992px) and (max-width:1200px){
    .content .people{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .about__top .text{
        flex-wrap: wrap; 
       }
       .about__top .text .box__as{
        margin-bottom: 60px;
    }
    .code{
        flex-wrap: wrap;
    }
    header .container nav{
       min-width: 992px;
        max-width: 1140px;
        width: 0;
    }
        
    .container nav a.active{
        margin-left: 20px;
    }
    
}
   